<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>41462146256-vubb5j9mjecv9uakirhrdm5gnm19ftte.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41462146256-vubb5j9mjecv9uakirhrdm5gnm19ftte</string>
	<key>API_KEY</key>
	<string>AIzaSyAXGp5Z4vd54j4PV8kdbZYesr7KgXFXT04</string>
	<key>GCM_SENDER_ID</key>
	<string>41462146256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pethotelappfirebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pethotelappfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>pethotelappfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41462146256:ios:5ee13d1f63e774037cead5</string>
</dict>
</plist>